:root {
  font-size: 16px;
  --red: #ff4949;
  --ligth-100: white;
}

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;

  background-image: url("~/assets/images/background.svg");
  background-attachment: fixed;

  margin: 0px;
  padding: 0px;

  min-width: 300px;
}

header {
  font-family: "Swanky and Moo Moo", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  .title-decorator {
    color: var(--red);
  }
  h1 {
    font-size: 4rem;
  }
}

main {
  margin: auto;
  max-width: 780px;
  padding: 0 1rem;
}

footer {
  border-top: double;
  border-color: var(--red);
  text-align: center;
  background-color: var(--ligth-100);
  padding: 1rem;
}

.hero {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  border: double;
  border-color: var(--red);
  background-color: var(--ligth-100);

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  a {
    color: var(--red);
    text-decoration: underline;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: normal;
  }
  .opening_date {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--red);
  }
}

.menu-card {
  position: relative;
  max-width: 100%;
  background-color: var(--ligth-100);
  padding: 1rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.044) 0px 0px 5px 3px;
  background-image: url("~/assets/images/section-backgound.png");

  .menu-card__title {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
    color: var(--red);
    font-family: "Swanky and Moo Moo", sans-serif;
  }

  .item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 1.5rem;

    .item__title {
      position: relative;

      &.item__title--new::after {
        content: "Nouveauté";
        position: absolute;
        top: -1.5rem;
        left: 0rem;
        font-family: "Swanky and Moo Moo";
        font-size: 1.125rem;
        transform: rotate(-3deg);
        color: #c64600;
      }
    }

    .item__separator {
      flex-grow: 1;
      margin: 0 0.5rem;
      border-bottom: 1px dotted black;
    }
    .item__ingredients {
      margin-top: 0.2rem;
      flex-basis: 100%;
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 500px) {
  main {
    padding: 0 0.5rem;
  }
  header h1 {
    font-size: 2.5rem;
  }
  .hero .opening_date {
    font-size: 1.25rem;
  }
  .menu-card .menu-card__title {
    font-size: 2rem;
  }
}
