:root {
    font-size: 16px;
}

body {
    width: 1480px;
    height: 2100px;
    border: 1px solid black;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

footer {
    display: none;
}

.qrcode {
    margin: auto;
    display: block;
    width: 180px;
    height: 180px;
} 