@media print {
    header,
    footer,
    section.hero,
    .menu-card__title,
    .hidden-print {
      display: none !important;
    }
  
    .menu-card {
      background: none;
      box-shadow: none;
      margin: 0;
      padding: 0;
      .item {
        margin-bottom: 0.750rem;
      }
    }
  }